In [106]:
# Import Dependencies
from pathlib import Path
import pandas as pd

In [108]:
# Create a file path to the owid-covid-data.csv file.
csv_path = Path("owid-covid-data.csv")

# Import the owid-covid-data.csv file as a DataFrame
case_dataset_df = pd.read_csv(csv_path)

case_dataset_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,3/1/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,4/1/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,5/1/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,6/1/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,7/1/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [109]:
# Remove unnecessary columns from the DataFrame and save the new DataFrame

case_dataset_reduced_df = case_dataset_df[["location", "date", "total_cases_per_million", "new_cases_smoothed_per_million", "total_deaths_per_million", 
                       "new_deaths_smoothed_per_million", "icu_patients_per_million", 
                       "hosp_patients_per_million", "total_vaccinations_per_hundred", "people_fully_vaccinated_per_hundred",
                      "total_boosters_per_hundred", "new_vaccinations_smoothed_per_million", "new_people_vaccinated_smoothed_per_hundred",
                     "population_density", "median_age", "extreme_poverty", "cardiovasc_death_rate",
                      "diabetes_prevalence", "female_smokers", "male_smokers", "hospital_beds_per_thousand", "population"]]
case_dataset_reduced_df = case_dataset_reduced_df.rename(columns={"location": "CountryName",
                                        "date": "Date"})

case_dataset_reduced_df.head()

,CountryName,Date,total_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,total_vaccinations_per_hundred,people_fully_vaccinated_per_hundred,...,new_people_vaccinated_smoothed_per_hundred,population_density,median_age,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,population
0,Afghanistan,3/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.422,18.6,NaN,597.029,9.59,NaN,NaN,0.5,41128772
1,Afghanistan,4/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.422,18.6,NaN,597.029,9.59,NaN,NaN,0.5,41128772
2,Afghanistan,5/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.422,18.6,NaN,597.029,9.59,NaN,NaN,0.5,41128772
3,Afghanistan,6/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.422,18.6,NaN,597.029,9.59,NaN,NaN,0.5,41128772
4,Afghanistan,7/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.422,18.6,NaN,597.029,9.59,NaN,NaN,0.5,41128772

In [112]:
# Filter to only keep countries in question

countries = ['Australia', 'India', 'Brazil', 'Vietnam']
case_dataset_reduced_df = case_dataset_reduced_df[case_dataset_reduced_df['CountryName'].isin(countries)]
case_dataset_reduced_df

,CountryName,Date,total_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,total_vaccinations_per_hundred,people_fully_vaccinated_per_hundred,...,new_people_vaccinated_smoothed_per_hundred,population_density,median_age,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,population
18841,Australia,3/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18842,Australia,4/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18843,Australia,5/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18844,Australia,6/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18845,Australia,7/1/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357095,Vietnam,15/12/2023,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357096,Vietnam,16/12/2023,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357097,Vietnam,17/12/2023,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357098,Vietnam,18/12/2023,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357099,Vietnam,19/12/2023,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856

In [114]:
case_dataset_reduced_df['Date'] = pd.to_datetime(case_dataset_reduced_df['Date'], format='%d/%m/%Y').dt.strftime('%Y%m%d')
case_dataset_reduced_df

,CountryName,Date,total_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,total_vaccinations_per_hundred,people_fully_vaccinated_per_hundred,...,new_people_vaccinated_smoothed_per_hundred,population_density,median_age,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,population
18841,Australia,20200103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18842,Australia,20200104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18843,Australia,20200105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18844,Australia,20200106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
18845,Australia,20200107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.202,37.9,0.5,107.791,5.07,13.0,16.5,3.84,26177410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357095,Vietnam,20231215,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357096,Vietnam,20231216,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357097,Vietnam,20231217,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357098,Vietnam,20231218,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856
357099,Vietnam,20231219,118386.518,0.0,440.039,0.0,NaN,NaN,NaN,NaN,...,NaN,308.127,32.6,2.0,245.465,6.00,1.0,45.9,2.60,98186856

In [116]:
case_dataset_reduced_df['Date'] = case_dataset_reduced_df['Date'].astype('int64')

In [118]:
# Create a file path to the OxCGRT_compact_national.csv file.
csv_path_02 = Path("OxCGRT_compact_national.csv")

# Import the csv file as a DataFrame
policy_dataset_df = pd.read_csv(csv_path_02)

policy_dataset_df.head()

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1M_School closing,C1M_Flag,C2M_Workplace closing,C2M_Flag,...,V3_Vaccine Financial Support (summary),V4_Mandatory Vaccination (summary),ConfirmedCases,ConfirmedDeaths,MajorityVaccinated,PopulationVaccinated,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0,NaN,0,NaN,...,0,NaN,0.0,0.0,NV,0.0,0.0,0.0,0.0,0.0

In [120]:
# Remove unnecessary columns from the DataFrame and save the new DataFrame

policy_dataset_df = policy_dataset_df[["CountryName", "Date", "C1M_School closing", "C2M_Workplace closing", "C3M_Cancel public events", 
                       "C4M_Restrictions on gatherings", "C5M_Close public transport", 
                       "C6M_Stay at home requirements", "C7M_Restrictions on internal movement", "C8EV_International travel controls",
                      "E1_Income support", "E2_Debt/contract relief", "E3_Fiscal measures",
                     "E4_International support", "H1_Public information campaigns", "H2_Testing policy", "H3_Contact tracing",
                      "H4_Emergency investment in healthcare", "H5_Investment in vaccines", "H6M_Facial Coverings", "H8M_Protection of elderly people", 
                                       "StringencyIndex_Average", "GovernmentResponseIndex_Average", "ContainmentHealthIndex_Average", "EconomicSupportIndex"]]

policy_dataset_df

,CountryName,Date,C1M_School closing,C2M_Workplace closing,C3M_Cancel public events,C4M_Restrictions on gatherings,C5M_Close public transport,C6M_Stay at home requirements,C7M_Restrictions on internal movement,C8EV_International travel controls,...,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6M_Facial Coverings,H8M_Protection of elderly people,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
0,Aruba,20200101,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.00,0.00,0.0
1,Aruba,20200102,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.00,0.00,0.0
2,Aruba,20200103,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.00,0.00,0.0
3,Aruba,20200104,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.00,0.00,0.0
4,Aruba,20200105,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202755,Zimbabwe,20221227,1,2,1,0,0,0,0,1,...,3,1,NaN,0.0,3,0,29.48,36.44,41.65,0.0
202756,Zimbabwe,20221228,1,2,1,0,0,0,0,1,...,3,1,NaN,0.0,3,0,29.48,36.44,41.65,0.0
202757,Zimbabwe,20221229,1,2,1,0,0,0,0,1,...,3,1,NaN,0.0,3,0,29.48,36.44,41.65,0.0
202758,Zimbabwe,20221230,1,2,1,0,0,0,0,1,...,3,1,NaN,0.0,3,0,29.48,36.44,41.65,0.0
202759,Zimbabwe,20221231,1,2,1,0,0,0,0,1,...,3,1,NaN,0.0,3,0,29.48,36.44,41.65,0.0

In [122]:
policy_dataset_reduced_df = policy_dataset_df[policy_dataset_df['CountryName'].isin(countries)]

policy_dataset_reduced_df

,CountryName,Date,C1M_School closing,C2M_Workplace closing,C3M_Cancel public events,C4M_Restrictions on gatherings,C5M_Close public transport,C6M_Stay at home requirements,C7M_Restrictions on internal movement,C8EV_International travel controls,...,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6M_Facial Coverings,H8M_Protection of elderly people,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
7672,Australia,20200101,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
7673,Australia,20200102,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
7674,Australia,20200103,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
7675,Australia,20200104,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
7676,Australia,20200105,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197275,Vietnam,20221227,0,1,1,1,0,0,0,0,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
197276,Vietnam,20221228,0,1,1,1,0,0,0,0,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
197277,Vietnam,20221229,0,1,1,1,0,0,0,0,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
197278,Vietnam,20221230,0,1,1,1,0,0,0,0,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
197279,Vietnam,20221231,0,1,1,1,0,0,0,0,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0

In [124]:

column_dtype = policy_dataset_reduced_df['Date'].dtype
column_dtype

dtype('int64')

In [128]:
# Identify overlapping date range
start_date = max(case_dataset_reduced_df['Date'].min(), policy_dataset_reduced_df['Date'].min())
end_date = min(case_dataset_reduced_df['Date'].max(), policy_dataset_reduced_df['Date'].max())

# Filter dataframes based on overlapping date range
case_df_overlap = case_dataset_reduced_df[(case_dataset_reduced_df['Date'] >= start_date) & (case_dataset_reduced_df['Date'] <= end_date)]
policy_df_overlap = policy_dataset_reduced_df[(policy_dataset_reduced_df['Date'] >= start_date) & (policy_dataset_reduced_df['Date'] <= end_date)]

# Merge dataframes based on CountryName and Date
merged_df = pd.merge(case_df_overlap, policy_df_overlap, on=['CountryName', 'Date'])
merged_df

,CountryName,Date,total_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_smoothed_per_million,icu_patients_per_million,hosp_patients_per_million,total_vaccinations_per_hundred,people_fully_vaccinated_per_hundred,...,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6M_Facial Coverings,H8M_Protection of elderly people,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
0,Australia,20200103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
1,Australia,20200104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
2,Australia,20200105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
3,Australia,20200106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
4,Australia,20200107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0.0,0.0,0,0,0.00,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4371,Vietnam,20221227,117370.832,1.618,439.814,0.004,NaN,NaN,NaN,NaN,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
4372,Vietnam,20221228,117372.492,1.555,439.814,0.004,NaN,NaN,NaN,NaN,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
4373,Vietnam,20221229,117374.641,1.571,439.814,0.004,NaN,NaN,NaN,NaN,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
4374,Vietnam,20221230,117378.369,2.104,439.835,0.007,NaN,NaN,NaN,NaN,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0
4375,Vietnam,20221231,117379.703,1.529,439.835,0.003,NaN,NaN,NaN,NaN,...,3,2,NaN,0.0,2,0,23.15,34.9,39.88,0.0

In [130]:
# Push the remade DataFrame to a new CSV file
merged_df.to_csv("data_merge.csv", index=False, header=True)